# set new value s
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123
JWT_SECRET="a1f6lsbn"
 
# get from https://console.neon.tech/
 DATABASE_URL='postgresql://...'

 
# get from https://pinata.cloud/
PINATA_API_Key=186e6d....
PINATA_API_Secret=7d8f2....
NEXT_PUBLIC_PINATA_JWT="..."

 
# set your email id 
EMAIL_USER="youremail@gmail.com"
EMAIL_PASSWORD="" # get it from https://myaccount.google.com/apppasswords
 
 